body {
    background: url('../ressources/background.png') repeat;
    text-align: center;
}
.content {
    padding-top: 50px;
}
.h {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.h-header {
    background-color: #9191EA;
}
.h-content {
    border: 2px solid #9191EA;
}
.flag {
    height: 50px;
    box-shadow: 0px 0px 5px black;
}
.team {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    padding: 10px;
}
.a {
    text-align: right;
    margin-right: 10px;
}
.b {
    text-align: left;
    margin-left: 10px;
}
.x {
    display: inline-block;
    vertical-align: middle;
}
.b > .lbl {
    margin-left: 25px;
}
.a > .lbl {
    margin-right: 25px;
}
.lbl {
    font-size: 1.5em;
    color: white;
}
.brick {
    display: inline-block;
    width: 20%;
    border: 2px solid #DDD;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    background-color: #EEE;
    font-weight: bold;
}
.h-content {
    padding: 20px;
    background-color: white;
}
.cancel {
    padding: 10px 20px 10px 20px;
    border: 2px solid #9191EA;
    background-color: white;
    font-weight: bolder;
}
.cancel:hover {
    background-color: #9191EA;
    color: white;
    cursor: pointer;
}