body {
    padding-top: 21px;
    background: url('../ressources/background.png') repeat;
    text-align: center;
}
.match {
    box-shadow: inset 0 160px 160px -160px #6060e1;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    padding-top: 42px;
    font-size: 2em;
    color: #6060e1;
}
.box {
    background-color: #EEE;
    border: 2px solid #DDD;
    width: 325px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1px;
}
.box-header {
    background-color: #DDD;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px;
}
.box:hover {
    border: 2px solid #9191ea;
    cursor: pointer;
    background-color: #e3e3fa;
}
.box:hover > .box-header {
    background-color: #9191ea;
    color: white;
    font-weight: bold;
}
.team {
    background-color: white;
    border: 2px solid #CCC;
    padding: 10px;
    margin: 10px;
    width: 35%;
    display: inline-block;
    font-weight: bold;
}
.a {} .b {} .flag {
    box-shadow: 0px 0px 2px black;
    margin-bottom: 5px;
}
button {
    background-color: #DDD;
    border: 2px solid #CCC;
    padding: 10px;
    vertical-align: bottom;
    width: 80%;
    margin: 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
button:hover {
    background-color: #9191ea;
    border: 2px solid #9191ea;
    color: white;
    cursor: help;
}
.pages {
    text-align: center;
    margin-bottom: 40px;
}
.active {
    color: white;
    font-weight: bold;
    background-color: #9191ea;
    border: 2px solid #9191ea;
}
.clickable {
    text-decoration: none;
    border: 1px solid #9191ea;
    color: #9191ea;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.clickable:hover {
    background-color: #e3e3fa;
}
.pa {
    padding: 10px;
}
.f {
    font-size: 2em;
    text-decoration: none;
    padding: 10px;
    color: #9191ea;
}