* {
    font-family: 'Asap', sans-serif;
}
body {
    margin: 0;
    padding-top: 21px;
    background: url("../ressources/background.png") repeat;
    text-align: center;
}
.match {
    box-shadow: inset 0 160px 160px -160px #9191EA;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    padding-top: 42px;
    font-size: 2em;
    color: #6060e1;
}
.text {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 325px;
}
.block {
    width: 50%;
    vertical-align: top;
    border: 2px solid #9191EA;
    background-color: #f9f9fe;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.header {
    padding: 10px;
    color: white;
    background-color: #9191EA;
}
.header > img {
    width: 64px;
}
.else {
    padding: 15px;
}
.else,
.header {} .butt {
    margin-top: 20px;
    width: 51%;
    padding: 20px;
    border: 2px solid #9191EA;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFF;
    color: #9191EA;
    margin-bottom: 50px;
}
.butt:hover {
    background-color: #9191EA;
    color: white;
}
select {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 370px;
}
option {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
.birth {
    width: 20%;
}