body {
    background: url('../ressources/background.png') repeat;
    text-align: center;
}
.match {
    box-shadow: inset 0 160px 160px -160px #6060e1;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
}
.flag {
    height: 125px;
    box-shadow: 0px 0px 5px black;
}
.team {
    display: inline-block;
    height: 175px;
    width: 45%;
    vertical-align: middle;
    margin-top: 25px;
}
.a {
    text-align: right;
}
.b {
    text-align: left;
    float: right;
}
.x {
    display: inline-block;
    vertical-align: middle;
}
.b > .lbl {
    margin-left: 25px;
}
.a > .lbl {
    margin-right: 25px;
}
.lbl {
    font-size: 2em;
    color: #6060e1;
}
.box {
    background-color: #EEE;
    border: 2px solid #9191EA;
    min-width: 380px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1px;
}
.box-header {
    background-color: #9191EA;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px;
    color: #f9f9fe;
}
.complet {
    background-color: #EEE;
    border: 2px solid #999;
    width: 400px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1px;
}
.complet-header {
    background-color: #999;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px;
    color: #f9f9fe;
}
.liste {
    padding-top: 30px;
}
.left,
.right {
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.prix {
    border: 2px solid #DDD;
    background-color: white;
    font-size: 1.3em;
    padding: 10px 20px 10px 20px;
    color: #9191EA;
}
.left {
    float: left;
}
.right {
    float: right;
}
button {
    background-color: #DDD;
    border: 2px solid #CCC;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 10px 20px 10px 20px;
    min-width: 120px;
    margin-top: 10px;
}
button:hover {
    background-color: #9191ea;
    border: 2px solid #9191ea;
    color: white;
    cursor: help;
}
.user {
    padding: 10px;
    border: 2px solid #DDD;
    font-size: 0.8em;
}
.places {
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #DDD;
    background-color: #DDD;
}
.space {
    padding: 20px 30px 20px 30px;
    position: absolute;
    background-color: #812c2c;
    transform: rotate(-15deg);
    margin-left: 125px;
    margin-top: -60px;
    color: white;
    opacity: 1;
    border-radius: 4px;
}
.propo {
    margin-bottom: 20px;
    font-size: 1.1em;
    padding: 20px 50px 20px 50px;
}
.propo:hover {
    cursor: pointer;
}