* {
    font-family: 'Asap', sans-serif;
}
body {
    margin: 0;
    padding-top: 21px;
    background: url("../ressources/background.png") repeat;
    text-align: center;
}
.match {
    box-shadow: inset 0 160px 160px -160px #9191EA;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    padding-top: 42px;
    font-size: 2em;
    color: #6060e1;
}

.match-bis {
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    padding-top: 42px;
    font-size: 2em;
    color: #6060e1;
}
.text {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 325px;
}
.block {
    width: 50%;
    vertical-align: top;
    border: 2px solid #9191EA;
    background-color: #f9f9fe;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.header {
    padding: 10px;
    color: white;
    background-color: #9191EA;
}
.header > img {
    width: 64px;
}
.else {
    padding: 15px;
}
.else,
.header {} .butt {
    margin-top: 20px;
    width: 51%;
    padding: 20px;
    border: 2px solid #9191EA;
    -webkit-transition: all 0.05s ease;
    transition: all 0.05s ease;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFF;
    color: #9191EA;
    margin-bottom: 50px;
}
.butt:hover {
    background-color: #9191EA;
    color: white;
}
select {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 370px;
}
input {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 330px;
}
option {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
.birth {
    width: 20%;
}
.radio {
    padding: 10px;
    margin: 5px;
    background-color: #EEE;
    border: 2px solid #DDD;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    display: inline-block;
    width: 40%;
    font-size: 0.75em;
}
.radio:hover {
    background-color: #f9f9fe;
    border: 2px solid #9191EA;
}
box {
    background-color: #EEE;
    border: 2px solid #9191EA;
    width: 380px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1px;
}
.box-header {
    background-color: #9191EA;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px;
    color: #f9f9fe;
}
.complet {
    background-color: #EEE;
    border: 2px solid #999;
    width: 400px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1px;
}
.complet-header {
    background-color: #999;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px;
    color: #f9f9fe;
}
.liste {
    padding-top: 30px;
}
.left,
.right {
    display: inline-block;
    padding: 20px;
    margin: 0;
}
.prix {
    border: 2px solid #DDD;
    background-color: white;
    font-size: 1.3em;
    padding: 10px 20px 10px 20px;
    color: #9191EA;
    width: 75px;
}
.left {
    float: left;
}
.right {
    float: right;
}
button {
    background-color: #DDD;
    border: 2px solid #CCC;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 10px 20px 10px 20px;
    min-width: 120px;
    margin-top: 10px;
}
button:hover {
    background-color: #9191ea;
    border: 2px solid #9191ea;
    color: white;
    cursor: help;
}
.user {
    padding: 10px;
    border: 2px solid #DDD;
    font-size: 0.8em;
}
.places {
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #DDD;
    background-color: #DDD;
}
.space {
    padding: 20px 30px 20px 30px;
    position: absolute;
    background-color: #812c2c;
    transform: rotate(-15deg);
    margin-left: 125px;
    margin-top: -60px;
    color: white;
    opacity: 1;
    border-radius: 4px;
}
.propo {
    margin-bottom: 20px;
    font-size: 1.1em;
    padding: 20px 50px 20px 50px;
}
.propo:hover {
    cursor: pointer;
}

.h {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.h-header {
    background-color: #9191EA;
}
.h-content {
    border: 2px solid #9191EA;
}
.flag {
    height: 50px;
    box-shadow: 0px 0px 5px black;
}
.team {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    padding: 10px;
}
.a {
    text-align: right;
    margin-right: 10px;
}
.b {
    text-align: left;
    margin-left: 10px;
}
.x {
    display: inline-block;
    vertical-align: middle;
}
.b > .lbl {
    margin-left: 25px;
}
.a > .lbl {
    margin-right: 25px;
}
.lbl {
    font-size: 1.5em;
    color: white;
}
.brick {
    display: inline-block;
    width: 20%;
    border: 2px solid #DDD;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    background-color: #EEE;
    font-weight: bold;
}
.h-content {
    padding: 20px;
    background-color: white;
}
.cancel {
    padding: 10px 20px 10px 20px;
    border: 2px solid #9191EA;
    background-color: white;
    font-weight: bolder;
}
.cancel:hover {
    background-color: #9191EA;
    color: white;
    cursor: pointer;
}