* {
    font-family: 'Asap', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background: white;
    margin: auto;
    margin-top: 21px;
}
.content {
    height: 100%;
    width: 100%;
    margin-top: 42px;
}
nav {
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 42px;
    background-color: #9191ea;
    color: white;
    letter-spacing: 2px;
    font-size: 0.8em;
    border-bottom: 1px solid #a1a1ed;
}
li {
    display: inline-block;
}
ul {
    position: absolute;
    top: 0px;
    right: 15px;
}
.menu-item {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 15px;
    text-align: center;
}
.menu-item:hover {
    background-color: white;
    color: #9191ea;
    font-weight: bold;
}
.logo > img {
    width: 28px;
}
.logo {
    position: absolute;
    left: 10px;
    top: 7px;
}
.title {
    position: absolute;
    left: 50px;
    top: 9px;
    font-size: 1.7em;
    color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.title:hover {
    color: #d7d7f7;
}
.by {
    color: #d7d7f7;
}
.hello {
    line-height: 42px;
    font-size: 1.2em;
}