body {
    background: url('../ressources/background.png') repeat;
    text-align: center;
}
.match {
    box-shadow: inset 0 160px 160px -160px #6060e1;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    padding-top: 42px;
    margin-top: 42px;
}